
<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
        <h2>All Hikes</h2>
            <div>
                <a href="/hikes/new"><button>Add New Hike</button></a>
                <% hikes.forEach(hike => { %>
                    <article>
                        <h3><%= hike.hikeName %></h3>
                        <a href="/hikes/<%= hike._id %>">View Hike Details</a>
                    </article>
                <% }) %>
            </div>
        </main>
    </body>
</html>
